{
    "presets": [
        [
            "env", 
            {
                "modules": false,
                "targets": {
                    "browsers": [
                        "last 2 versions"
                    ]
                }
            }
        ], 
        "react",
        "stage-1"
    ],
    "plugins": [
        "transform-decorators-legacy",
        "transform-runtime",
        "transform-class-properties",
        "react-hot-loader/babel",
        ["lodash", { "id": ["lodash"] }],
        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": true }]
    ]
}
