@logo-height: 60px;

.logo {
  height: @logo-height;
  line-height: @logo-height;
  text-align: center;
  color: white;
  font-size: 16px;
  background-color: #2c64cd;
}

.search_manage{
  margin-top: 1.5em;
  margin-left: 25px;
  font-size: 12px;
}

.workspace {
  margin: 0 1em;
}

.breadcrumb {
  margin: 1em 0;
}