@import "~antd/dist/antd.less";

@menu-dark-bg: transparent;
@menu-dark-submenu-bg: transparent;
@card-padding-base: 0;
@card-padding-wider: 1em;
@logo-height: 50px;

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #6789f7;
}

.ant-layout-sider {
  background-color: #5171e5;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  box-shadow: none;
}

.logo {
  height: @logo-height;
  line-height: @logo-height;
  text-align: center;
  color: white;
  font-size: 16px;
  background-color: #3b56ce;
}

.searchManage{
  margin-top: 1.5em;
  margin-left: 25px;
  font-size: 12px;
}

.workspace {
  margin: 0 1em;
}

.breadcrumb {
  line-height: @logo-height;
}

.tabContent {
  margin: 1em 0;
}

.tabLine {
  width: 95%;
  margin: 5px auto;
  border-bottom: 1px solid #DDDDDD;
}

.tabLineLast {
  width: 95%;
  margin: 5px auto;
}

.modalData{
  word-break: break-word;
}
